body {
    background-image:url(images/sky.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px;
}


h1{
    font-family: 'DynaPuff', cursive;
    font-size: 4rem; 
    letter-spacing: 0.875rem;
    color: white;
    text-shadow: 0.25rem 0.25rem #FFB6B9, -0.25rem -0.25rem #FFB6B9,
    0.25rem -0.25rem #FFB6B9, 0.25rem 0.25rem #FFB6B9;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top:8rem;
}

.left-cloud{
    position: absolute;
    top: 5rem;
}


.right-cloud{
    position: absolute;
    right:0.2rem;
    top:0rem;
}

.top-container{
    padding: 0 0 5rem 0;
}

.middle-container{
    position: relative;
    left: 57%;
    transform: translate(-50%);
    width: 80%;
    margin-top: 1rem;
    
    }


.bottom-container{
    position: relative;
    transform: translate(-50%);
    width: 100%;
}

.accordion{
    max-width: 80%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #FFB6B9;
}

.accordion__label, .accordion__content{
    padding: 1rem 1.2rem;
}

.accordion__label{
    display: block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: background-color 0.1s;
}

.accordion__label:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.accordion__content{
    background: white;
    line-height: 1.6;
    font-size: 1.2rem;
    display: none;
}

.accordion__input{
    display: none;
}

.accordion__input:checked ~ .accordion__content{
    display: block;
}



.bunny{
    position:absolute;
    width: 25%;
    height: auto;
    left: 125%;
    top: 10px;
 
}
s
.carrot{
    position:absolute;
    width: 25%;
    height: auto;
    left: 100%;
    top: 10px;
}



