<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>

<body>
    <div class="head">
        <h1>歡迎光臨，這是會員頁</h1>
    </div>
    <h2>{{ username }},歡迎登入系統</h2>
    <a href="/signout">登出系統</a>
    <br>
    <hr>
    <h2> 快來留言吧 </h2>
    <form action="message" method="post">
        內容 <input type="text" name="message" \>
        <br>
        <br>
        <button type="commit">送出</button>
    </form>
    <hr>
    <br>
    <div>
        {%for user,message in messageData%}
            <h4><b>{{ user }} : </b>{{message}}</h4>
        {%endfor%}
    </div>
</body>

</html>