<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>

<body>
    <div class="head">
        <h1>歡迎光臨，這是會員頁</h1>
    </div>
    <div>
        <div class="card">
            <h2 id="title">{{ name }}，歡迎登入系統</h2>
            <a href="/signout">登出系統</a>
            <br>
            <br>
            <h2> <b>查詢會員姓名</b> </h2>
            <input type="text" name="username" id="username">
            <input type="button" value="查詢" id="username_select" onclick="getmember()">
            <br>
            <h4 id="username_printer"> </h4>
            <br>
            <br>
            <h2> <b>更新我的名字</b> </h2>
            <input type="text" name="name" id="name">
            <input type="button" value="修改" id="name_update" onclick="update_member()">
            <br>
            <h4 id="nameupdate_printer"> </h4>
            <br>
            <br>
        </div>
    </div>
    <h2> 快來留言吧 </h2>
    <form action="message" method="post">
        內容 <input type="text" name="message" \>
        <br>
        <br>
        <button type="commit">送出</button>
    </form>
    <hr>
    <br>
    <div>
        {%for user,message in messageData%}
            <h4><b>{{ user }} : </b>{{message}}</h4>
        {%endfor%}
    </div>

    <script>
        function getmember()
        {
            let headers = {
            "Content-Type": "application/json",
            "Accept": "application/json",
            }
            var username = document.getElementById("username").value;
            fetch('api/member?username=' + username,{
                method:"GET",
                headers:headers
            })
            .then(response => {
                return response.json();
            })
            .then(res_json_data => {
                let data = res_json_data.data;
                if (data != null)
                {
                    let name = data.name;
                    var printer_str = "<b>" + name + "</b>(" + username + ")";
                }else{
                    var printer_str = "查無此用戶資訊";
                }
                document.getElementById("username_printer").innerHTML = printer_str;
            })
        };

        function update_member()
        {
            let headers = {
            "Content-Type": "application/json",
            }
            var name = document.getElementById("name").value;
            fetch('api/member',{
                method:"PATCH",
                headers:headers,
                body: JSON.stringify( { "name": name } )
            })
            .then(response => {
                return response.json();
            })
            .then(res_json_data => {
                if (res_json_data.ok)
                {
                    var printer_str = "更新成功";
                    document.getElementById("title").innerText = name + "，歡迎登入系統";
                }else{
                    var printer_str = "出錯了 !!";
                }
                document.getElementById("nameupdate_printer").innerHTML = printer_str;
            })
        };
    </script>
</body>

</html>